{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
    <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the my Flask Blog.Here i present my blog build using Flask framework </p>
        <p>Visit my blog <a href="http://pokhrelprajwal.com.np">Personal Blog</a> </p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go To Blog Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
